<ul class="">
  <li>
    <div class="">
      <span>作者</span>
      <span><%= @post.user.account %></span>
    </div>
    <div class="">
      <span>看板</span>
      <span><%= @post.board.title %></span>
    </div>
  </li>

  <li>
    <span>標題:</span>
    <span><%= @post.title %></span>
  </li>
  <li>
    <span>時間:</span>
    <span><%= @post.created_at %></span>
  </li>
</ul>

<hr>

  <div class="col-12">
    <%= @post.content %>
  </div>

<%= link_to "返回", board_path(@post.board_id), class: "btn btn-sm btn-info" %>