<!DOCTYPE html>
<html>
  <head>
    <title>PPT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <%= render 'shared/frontend/navbar' %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto">
          <%= render 'shared/common/notice' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%= render "shared/footer/footer" %>
      </div>
    </div>

  </body>
</html>
