<!DOCTYPE html>
<html>
  <head>
    <title>PPT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto">
        <h2><%= notice %></h2>
        <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
